
	<div class="row">
		<div class="<%= index ? 'col-md-4' : 'col-md-6' %>">
			<div class="form-group">
				<input type="text" class="form-control autor-name" name="autors[<%= index %>][name]" value="<%= autor.name %>" placeholder="Имя">
			</div>
			<p class="bg-danger"></p>
		</div>
		<div class="<%= index ? 'col-md-4' : 'col-md-6' %>">
			<div class="form-group">
				<input type="text" class="form-control autor-last-name" name="autors[<%= index %>][lastName]" value="<%= autor.lastName %>" placeholder="Фамилия">
			</div>
			<p class="bg-danger"></p>
		</div>
		<% if (index) { %>
			<div class="col-md-4">
				<button type="button" class="remove-autor-btn btn btn-block btn-primary" data-index="<%= index %>" name="button">Удалить</button>
			</div>
		<% } %>
	</div>
</div>
